body {
    background-color: black;
    display: flex;
    min-height: 100vh;  /* Add this */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.displayContainer {
    background-color: aliceblue;
    height: 4rem;
    width: 30rem;
    margin: 5rem;
}

.calculatorContainer {
    background-color: rgb(49, 49, 49);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 30rem;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.625rem;
}

.buttonsContainer button {
    color: transparent;
    background-size: cover;
    font-size: 10px;
}

.add { grid-row: span 2; }