body {
    background-color: black;
    display: flex;
    min-height: 100vh;  /* Add this */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.calculatorContainer {
    background-color: rgb(49, 49, 49);
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;


    height: 50rem;
    width: 30rem;
}