body {
    background-color: black;
    display: flex;
    min-height: 100vh;  /* Add this */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.displayContainer {
    background-color: aliceblue;
    height: 4rem;
    width: 30rem;
    margin: 5rem;
}

.calculatorContainer {
    background-color: rgb(49, 49, 49);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 30rem;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.buttonsContainer button {
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    
    width: 100px;
}

.add { grid-row: span 2; }

button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /*keeps aspect ratio*/
    /*pixel art rendering:*/
    image-rendering: pixelated;  /* Chrome/Edge */
    image-rendering: crisp-edges; /* Firefox/Safari fallback */
}
}